/* .cart-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
} */


.cart-sidebar {
  transform: translateX(100%);
}

.opennn {
  animation: slideIn 0.35s ease forwards;
}

.closeee {
  animation: slideOut 0.35s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.cart-item {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.cart-item img {
  width: 70px;
  height: 70px;
  object-fit: cover;  
  border-radius: 8px;
  flex-shrink: 0;
}
/* flex-shrink: 0; -   It will NOT shrink, even if other items must shrink or overflow.     flex-shrink: 1 - object will shrink is the space in the div is small */

/* flex: grow shrink basis;

  flex: 0 0 auto;
 
 means:
don’t grow

don’t shrink

size based on content/width

flex: 0 0 123px;  123px means - “It will be exactly 123px.”
 */

.cart-item > div {
  flex: 1;
}
/* Select only the div elements that are direct children of .cart-item. */

.cart-item h6 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.cart-item p {
  margin: 4px 0;
  font-size: 13px;
  color: #555;
}

.checkout-btn {
  display: inline-block;
  padding: 12px 20px;
  background: #ff7a00;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  text-align: center;
}