.card-container {
    display: flex;
    justify-content: center;
    gap: 18px;
    /* margin: 0 8px; */

}

.card-explore {
    background-color: white;
    border: 2px solid rgb(226, 222, 222);
    border-radius: 12px;
    /* width: 600px; */
    flex: 0 0 230px;
    padding: 16px;
    transition: all 0.3s ease;
}

/* Flex grow, shrink, basis

“Each card should be exactly 240px wide,
don’t grow bigger, don’t shrink smaller.”
*/

.card-explore:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-15px);
    
}
.card-top {
    padding-top: 12px;
    height: 150px;
    width: 100%;
}
.card-explore img {
    padding: 4px;
    margin: auto;
    display: block;
    object-fit: cover;
}

.card-bottom {
    margin-top: 12px;
    padding: 8px;
    text-align: center;
}