.contact-card {
    border: 1px solid #eceaea;
    transition: all 0.3s ease;
}

.contact-card:hover {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15);
    transform: translateY(-10px);
}

.contact-card i {
    background-color: #f9f1e3;
    padding: 12px;
    border-radius: 50%;
   
}