.world-rate {
    background-color: #f8e2c963;
    padding: 5px 20px;
    border-radius: 50px;
    display: inline-block;
    justify-content: center;
    font-size: 14px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.world-rate h4 {
    font-size: 14px;
    margin: 0;
}

 .d-icon,
 .r-icon,
 .f-icon {
    /* background-color: #ffebdb; */
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: #ff6600;
    display: flex;
    justify-content: center;
    align-self: center;
}

.details i{
    font-size: 23px;
}


.hero-img {
    animation: bounce 2s infinite;
    /* transition: animation 10s ease; */
}

@keyframes bounce {
    0%, 100% {transform: translateY(0px);}
    50% {transform: translateY(10px);}
    /* 100% {transform: translateY(-10px);} */
}

.hero-icons {
    animation: bounce-in 2s infinite;
}

@keyframes bounce-in {
    0%, 100% {transform: translateY(10px);}
    50% {transform: translateY(0px);}
}

.hero-buttons button {
    transition: transform 0.5s ease;
}

.hero-buttons button:hover {
    transform: scale(1.1);
}


@media (max-width: 991px) {

  /* .hero-img {
    width: 100%;
    height: auto;
  } */

  .mini {
    display: none;
  }

  .details {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .hero-img {
      max-width: 75%; 
      height: auto; 
  }
}